body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 100%;
    border-radius: 10px;
}
main{
    width: 80%;

}
.main {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 58.8px;
    letter-spacing: 0%;
}

.add-task {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 34px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.view-type {
    margin-bottom: 20px;
}

.view-type button {
    background-color: white;
    color: #979797;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}

.view-type .active {
    background-color: white;
    color: #007bff;
}

.table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border-bottom: 1px solid #979797;
        padding: 15px;
        text-align: left;
    }

    th {
        font-weight: 600;
        font-size: 14px;
        line-height: 17.15px;
        letter-spacing: 0%;
        color: #979797;
    }

    td {
        font-weight: 600;
        font-size: 14px;
        line-height: 17.15px;
        letter-spacing: 0%;
    }

    .status {
        font-weight: bold;
    }

    .not-done {
        color: #FF3F3F;
    }

    .done {
        color: black;
    }

    .in-progress {
        color: #007FFF;
    }

    tr:hover {
        background: #f9f9f9;
        cursor: pointer;
    }

    th:nth-child(1),
    td:nth-child(1) {
        width: 25%;
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 35%;
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 10%;
    }

    th:nth-child(4),
    td:nth-child(4) {
        width: 10%;
    }

    th:nth-child(5),
    td:nth-child(5) {
        width: 15%;
    }
}

.divs {
    width: 100%;
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .task {
        padding-left: 24px;
        padding-bottom: 24px;
        width: 350px;
        border-radius: 10px;
        border: 1px solid #979797;
        transition: 0.3s;

        h3 {
            font-weight: 600;
            font-size: 20px;
        }

        .desc {
            color: #A5A5B4;
        }

        .time {
            display: flex;
            justify-content: space-between;
            width: 102px;

            p {
                font-weight: 600;
                font-size: 14px;
                margin: 0;
                margin-bottom: 16px;
            }
        }
    }

    .task:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.table {
    display: none;
}

.table.active {
    display: block;
}

.divs {
    display: none;
}

.divs.active {
    display: grid;
}
.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
}
.modal_content{
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 25%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    input{
        padding: 10px;
        border-radius: 10px;
        border: 1px solid gray;
    }
    button{
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }
}

.close{
    width: 15px;
    height: 15px;
    margin-left: auto; /* Отправляет кнопку в конец */
    cursor: pointer;
}
.x {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
